body {
    color: black;
    background-color: #add0e7;
    font-family: 'Times New Roman';

}

h1 {
   color: #22342c;  
   font-family: verdana;
}

h2 { 
    color:#496821;
    font-family: 'Courier New'; 
}

h1, h2 {
    background-color: white;
    width: fit-content;
    padding: 5px;
}

.box {
    width: fit-content;
    height: auto;
    background-color: white;
    border: 2px solid black;
    padding: 10px;
    margin:0; 
}